body {
    background: #f2f2f2;
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.card {
    background: white;
    box-shadow: 3px 3px #a5a1a1;
    margin: 0px 15px 15px 0px;
}

@media screen and (max-width:767px) {
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .card {
        width: 70px;
        height: 70px;
    }
}
@media screen and (min-width:768px) and (max-width:991px) {

    .card {
        height: 315px;
        flex-basis: 315px;
    }

    .card-main {
        height: 315px;
        flex-basis: 645px;
    }

}
@media screen and (min-width:992px) {  

    .container {
        width: 1000px;
    }

    .card {
        height: 220px;
        flex-basis: 220px;
        flex-grow: 1;
    }

    .card-main {
        height: 220px;
        flex-basis: 455px;
        flex-grow: 2;
    }

}